div.parent>div.violet{
    width: 1300px;
    height: 390px;
    margin: auto;
    background-color: #941B80;
    border-radius: 10px;
    margin-top: 25px;
}

div.parent>div.violet>div.right{
    width: 330px;
    height: 335px;
    display: inline-block;
    margin: 0px 23px;
    margin-top: 15px;
    vertical-align: bottom;
}
div.parent>div.violet>div.right>img{
    width: 330px;
    margin-top: px;
}
div.parent>div.violet>div.right>div{
    width:208;
    height: 30px;
    color: #FFFFFF;
}
div.parent>div.violet>div.right>button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border:2px solid #FFFFFF ;
    background-color: #941B80;
    color: #FFFFFF;
}
div.parent>div.violet>div.right>button>span{
    vertical-align: top;
}
div.parent>div.violet>div.right>a>img{
    width: 130;
    height: 30;
}
div.parent>div.violet>div.left{
    width: 870px;
    height: 360px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 24px;
    margin-top: 15px;
}
div.parent>div.violet>div.left>h4{
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
}
div.parent>div.violet>div.left>h4>span{
    vertical-align: top;

}
div.parent>div.violet>div.left>a{
    display: inline-block;
    text-decoration: none;
    color: #941B80;
    margin-right: 550px;
}
div.parent>div.violet>div.left>div.imgs{
    width: 830px;
    height: 290px;
    margin: auto;
    margin-top:5px;
}
div.parent>div.violet>div.left>div.imgs>div.one{
    width: 830px;
    height: 135px;
}
div.parent>div.violet>div.left>div.imgs>div.one>a{
    display: inline-block;
    margin: 0 9px;
}
div.parent>div.violet>div.left>div.imgs>div.one>a>img{
    width: 116px;
    height: 116px;
}





div.parent>div.violet>div.left>div.imgs>div.two{
    width: 830px;
    height: 135px;
    margin-top: 20px;
}
div.parent>div.violet>div.left>div.imgs>div.two>a{
    display: inline-block;
    margin: 0 9px;
    margin-top: 20px;
}
div.parent>div.violet>div.left>div.imgs>div.two>a>img{
    width: 116px;
    height: 116px;
}


div.parent>div.digiclub{
    width: 1300px;
    height: 85px;
    margin: auto;
    background-color: #35A6C8;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
div.parent>div.digiclub>a{
    display: inline-block;
}
div.parent>div.digiclub>a>img{
    width: 120px;
    height: 33px;
    margin-top: 30px;
    margin-right: 40px;
    position: relative;
    bottom: 70px;
}
div.parent>div.digiclub>div.zero{
    width: 810px;
    height: 65px;
    display: inline-block;
}
div.parent>div.digiclub>div.zero>a{
    display: inline-block;
}
div.parent>div.digiclub>div.zero>a>div.one{
    width: 270px;
    height: 65px;
    background-color: #FFFFFF;
    display: inline-block;
    position: relative;
    right: 300px;
    top: 9px;
}
div.parent>div.digiclub>div.zero>a>div.one>img{
    height: 60px;
    width: 168px;
    margin-top: 3px;
    margin-right: 10px;
}
div.parent>div.digiclub>div.zero>a>div.one>h5{
    color:#2f2f30;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    position: relative;
    bottom: 23px;
}
div.parent>div.digiclub>div.zero>a>div.one>h5>span{
    position: relative;
    top: 8px;
}
div.parent>div.digiclub>div.zero>a>div.two{
    width: 270px;
    height: 65px;
    background-color: #FFFFFF;
    display: inline-block;
    position: relative;
    right: 300px;
    top: 9px;
}
div.parent>div.digiclub>div.zero>a>div.two>img{
    height: 60px;
    width: 168px;
    margin-top: 3px;
}
div.parent>div.digiclub>div.zero>a>div.two>h5{
    color:#2f2f30;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    position: relative;
    bottom: 23px;
}
div.parent>div.digiclub>div.zero>a>div.two>h5>span{
    position: relative;
    top: 8px;
}
div.parent>div.digiclub>div.zero>a>div.three{
    width: 270px;
    height: 65px;
    background-color: #FFFFFF;
    display: inline-block;
    position: relative;
    right: 850px;
    bottom: 60px;
}
div.parent>div.digiclub>div.zero>a>div.three>img{
    height: 60px;
    width: 168px;
    margin-top: 3px;
    margin-right: 30px;
}
div.parent>div.digiclub>div.zero>a>div.three>h5{
    color:#2f2f30;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    position: relative;
    bottom: 23px;
}
div.parent>div.digiclub>div.zero>a>div.three>h5>span{
    position: relative;
    top: 8px;
}