div.parent>div.brands{
    width: 1300px;
    height: 225px;
    margin: auto;
    border: 1px solid #c8c9cb;
    margin-top: 25px;
    text-align: center;
    border-radius: 10px;
}
div.parent>div.brands>div{
    width: 1300px;
    height: 70px;
}
div.parent>div.brands>div>h3{
    width: 1300px;
    height: 44px;
    margin-top: 10px;
}
div.parent>div.brands>div>h3>span{
    position: relative;
    top: 10px;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  div.parent>div.brands>div.swiper{
    width: 1300px;
    height: 120px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    border-left: 1px solid #c8c9cb;
  }
  div.parent>div.brands>div.swiper>div.swiper-wrapper>div.swiper-slide>div.one{
    aspect-ratio: auto 110 / 110;
  }