div.parent>div.menu{
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
}
div.parent>div.menu>nav{
    width: inherit;
    height: inherit;
    margin: 0 auto;
    display: inline-block;
    height: 40px;
}
div.parent>div.menu>nav>ul{
    width: 65%;
    height: 40px;
    height: inherit;
    display: inline-block;
    list-style: none;
    text-align:right;
    margin: 5px 0px;
    list-style: none;
}
div.parent>div.menu>nav>ul>li{
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
div.parent>div.menu>nav>ul>li>div.submenu{
    position: absolute;
    height: 600px;
    width: 1490px;
    background-color: #FFFFFF;
    z-index: 2;
    display: none;
}
div.parent>div.menu>nav>ul>li:hover>div.submenu{
    display: block;
}

div.parent>div.menu>nav>ul>li>div.submenu>div.right{
    height: inherit;
    width: 200px;
    border-left: 1px solid #c8c9cb;
}
div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li{
    height: 50px;
    width: inherit;
    line-height: 50px;
    transition: 300ms;
}
div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover{
    background-color: #d0d0d1;
    transition: 300ms;
}
div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li>a{
    text-decoration: none;
    color: #4d4d4d;
    margin-right: 10px;
    transition: 300ms;
    font-size: 14px;
    font-weight: bold;
}
div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li>a>span{
    position: relative;
    top: 5px;
    left: 5px;

}
div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>a {
    color: #EF394E;
    transition: 300ms;
}
div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li>div.left{
    height: 600px;
    width: 1290px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: none;
}
div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left{
    display: block;

}
div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li>div.left>a{
    text-decoration: none;
    color: #4d4d4d;
    width: inherit;
    height: 60px;
    line-height: 60px;
    margin-right: 15px;
    font-size:14px ;
    font-weight: 800;
}

div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.main{
    height: 500px;
    width: 1188px;
    margin-right: 15px;
}
div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.main>div{
    height: 500px;
    width: 234px;
    display: inline-block;
    vertical-align: top;
}

div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.main>div>ul{
    width: inherit;
    height: inherit;
    list-style: none;
}
div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.main>div>ul>li.title{
    font-size: 15;
    font-weight:bold ;
    color: #4d4d4d;
}
div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.main>div>ul>li{
    font-size: 10;
    height: 35px;
    width: 230px ;
    color: #7d7d7d;
}
div.parent>div.menu>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.main>div>ul>li>p{
    display: inline-block;
    color: #EF394E;
    font-weight: bold;
}
div.parent>div.menu>nav>ul>li>div{
    width: auto;
    height: 40px;
    vertical-align: top;
    transition: 400ms;
}
div.parent>div.menu>nav>ul>li>div:hover{
    border-bottom: 5px solid #EF394E;
    transition: 400ms;

}
div.parent>div.menu>nav>ul>li>div>a{
    text-decoration:none;
    color: #4d4d4d;
    opacity: 90%;
    line-height: 30px;
    font-size: 13px;
    margin: auto;
    margin-bottom: 5px;
}
div.parent>div.menu>nav>ul>li>div>a.big{
    text-decoration:none;
    color: #4d4d4d;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}
div.parent>div.menu>nav>ul>li>div>a>span{
    position: relative;
    top: 5px;
    
}
div.parent>div.menu>nav>form{
    height: 30px;
    display:inline-block;
    width: auto;
    direction:ltr ;
    margin-right: 280px;
}
div.parent>div.menu>nav>form>select{
    display: none;
}
div.parent>div.menu>nav>form:hover>select{
    display: block;
}
div.parent>div.menu>nav>form>label{
    vertical-align: top;
    line-height: 30px;
    color:dimgrey;
    font-size: 14px;
}
div.parent>div.menu>nav>form>label>span{
    position: relative;
    top: 5px;
}
