div.parent>div.menu{
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}
div.parent>div.menu>nav{
    width: inherit;
    height: inherit;
    margin: 0 auto;
    display: inline-block;
}
div.parent>div.menu>nav>ul{
    width: 60%;
    height: inherit;
    display: inline-block;
    list-style: none;
    text-align:right;
    margin: 5px 0px;
}
div.parent>div.menu>nav>ul>li{
    display: inline-block;
    margin-right: 5px;
}

div.parent>div.menu>nav>ul>li>a{
    text-decoration:none;
    color: dimgray;
    line-height: 30px;
}
div.parent>div.menu>nav>form{
    height: 30px;
    display:inline-block;
    width: auto;
    direction:ltr ;
    margin-right: 300px;
}

div.parent>div.menu>nav>form>label{
    vertical-align: top;
    line-height: 30px;
    color:dimgrey;
}
div.parent>div.menu>nav>ul>li>ul{
    position: absolute;
    width: 200px;
    height: 535px;
    background-color:#FFFFFF;
    list-style: none;
    display: none;
    z-index: 2;
}
div.parent>div.menu>nav>ul>li>ul>li{
    width: auto;
    margin: 25px 0px;
}
div.parent>div.menu>nav>ul>li>ul>li>a{
    text-decoration: none;
    color: #3F4064;
}
div.parent>div.menu>nav>ul>li:hover>ul{
    display: block;
}
div.parent>div.menu>nav>ul>li>ul>li>a:hover{
    color: #EF3E54;
}
